<% layout('layouts/boilerplate') %> <% if(currentUser){ %>
<h1 class="mb-3">View Order History</h1>

<table class="table table-responsive-md">
	<thead>
		<tr>
			<th scope="col">Order ID</th>
			<th scope="col">Firstname</th>
			<th scope="col">Lastname</th>
			<th scope="col">Date placed</th>
			<th scope="col">status</th>
			<th scope="col">View Details</th>
		</tr>
	</thead>
	<tbody>
		<% for(let order of user.orders){%>
		<tr>
			<th scope="row"><%= order._id%></th>
			<td><%=order.contact.firstname %></td>
			<td><%=order.contact.lastname%></td>
			<td>
				<%= order.createdAt.format('dddd, mmmm d, yyyy') %> <%=
				order.createdAt.toLocaleTimeString("en-US") %>
			</td>
			<td><%= order.status %></td>
			<td>
				<form action="/order/status/<%= order._id %>">
					<button class="btn btn-info btn-sm">View Order</button>
				</form>
			</td>
		</tr>
		<% }%>
	</tbody>
</table>
<% if (user.orders.length === 0){ %>
<div class="col-6 offset-3">
	<div class="card">
		<div class="card-body">
			<p class="card-text text-center">
				You have no order history. To place an order
				<a href="/order">click here</a>
			</p>
		</div>
	</div>
</div>
<% } %> <% } else{%>
<div class="col-6 offset-3">
	<div class="card">
		<div class="card-body">
			<p class="card-text text-center">
				To keep track of orders placed
				<a href="" data-bs-toggle="modal" data-bs-target="#loginModal">Login</a
				>.
				<br />
				Don't have an account? <a href="/register">Sign up</a>
			</p>
		</div>
	</div>
</div>
<% } %>
