<% layout('layouts/boilerplate') %>
<a class="btn btn-danger btn-lg" href="/order/history">Back</a>
<div>
	<h1 class="d-inline">order&num; <%= order._id %></h1>
	<p class="d-flex justify-content-end fs-3">
		Status&colon; <%= order.status %>
	</p>
</div>
<div class="row">
	<div class="col-6">
		<div class="card mb-3">
			<div class="card-body">
				<p class="text-end m-0"><%= order.createdAt.format("mmm d, yyyy") %></p>
				<h5 class="card-title">
					<%= order.contact.firstname %> <%= order.contact.lastname %>
				</h5>
				<p class="mb-0">
					Delivery date: <%= order.deliveryDate.format("dddd, mmmm d, yyyy") %>
				</p>
				<p>
					Address: <%= order.location.street %> <%= order.location.unit?
					order.location.unit:''%>&comma; <%= order.location.city %>&comma; <%=
					order.location.state %>&comma; <%= order.location.zipcode %>
				</p>
				<address>
					Email&colon;
					<a
						href="mailto:<%= order.contact.user ? order.contact.user.email :
                    order.contact.email %>"
						><%= order.contact.user ? order.contact.user.email :
						order.contact.email %></a
					>
					<br />
					Phone&colon;
					<a
						href="tel:<%= order.contact.user ? order.contact.user.phoneNumber :
                    order.contact.phoneNumber %>"
						><%= order.contact.user ? order.contact.user.phoneNumber :
						order.contact.phoneNumber %></a
					>
				</address>
			</div>
		</div>
	</div>
	<div class="col-6">
		<%for(let item of order.items){ %> <% if(item.product) {%>
		<div class="card mb-3">
			<div class="card-body">
				<h5 class="card-title"><%= item.product.name %> x<%=item.qty%></h5>
				<p class="card-text text-muted"><%= item.diet %></p>
				<p>Comment&colon; <%= item.specialInstructions %></p>
			</div>
		</div>
		<% } %> <% if(item.combo) {%>
		<div class="card mb-3">
			<div class="card-body">
				<h5 class="card-title"><%= item.combo.name %> x<%=item.qty%></h5>
				<p class="card-text text-muted"><%= item.diet %></p>
				<p class="mb-0">Includes&colon;</p>
				<ul>
					<% for(let prod of item.combo.products){ %>
					<li><%= prod.name %></li>
					<% } %>
				</ul>
				<p>Comment&colon; <%= item.specialInstructions %></p>
			</div>
		</div>
		<% } %> <% } %>
		<form
			action="/order/cancel/<%= order._id %>"
			class="text-end mb-3"
			method="POST"
		>
			<button class="btn btn-danger btn-lg">Cancel Order</button>
		</form>
	</div>
</div>
