<% layout('layouts/confirmationTemplate') %>

<h2 class="mb-3">
	<%= currentUser ? 'Welcome Back': 'Tell us about yourself' %>
</h2>
<form
	class="needs-validation mb-5"
	action="/order/add/contact"
	method="POST"
	novalidate
>
	<div class="row g-3 mb-3">
		<div class="col-md-6 col-12">
			<label for="firstnameCheckout" class="form-label">Firstname*</label>
			<input
				name="user[firstname]"
				required
				type="text"
				class="form-control"
				placeholder="<%= cart.contact.firstname? cart.contact.firstname:
				'Firstname' %>"
				value="<%= currentUser ? currentUser.firstname:''%>"
				id="firstnameCheckout"
			/>
		</div>
		<div class="col-md-6 col-12">
			<label for="lastnameCheckout" class="form-label">Lastname*</label>
			<input
				name="user[lastname]"
				required
				type="text"
				class="form-control"
				placeholder="<%= cart.contact.lastname? cart.contact.lastname: 'Lastname'
				%>"
				value="<%= currentUser ? currentUser.lastname :'' %>"
				id="lastnameCheckout"
			/>
		</div>
		<div class="col-md-6 col-12">
			<label for="emailCheckout" class="form-label">Email*</label>
			<input
				name="user[email]"
				required
				type="email"
				class="form-control"
				placeholder="<%=cart.contact.email? cart.contact.email:
				'example123@domain.com' %>"
				value="<%= currentUser ? currentUser.email :''
				%>"
				id="emailCheckout"
			/>
		</div>
		<div class="col-md-6 col-12">
			<label for="numberCheckout" class="form-label"
				>Phone Number
				<span class="fs-6 fw-light">&lpar;optional&rpar;</span></label
			>
			<input
				name="user[phoneNumber]"
				type="text"
				class="form-control"
				placeholder="+1(123)456-7890"
				value="<%= currentUser ?
				currentUser.phoneNumber : cart.contact.phoneNumber?
				cart.contact.phoneNumber: '' %>"
				id="numberCheckout"
			/>
		</div>

		<% if(!currentUser){ %>
		<div class="col-12">
			<p class="mb-0">
				Aleady have an Account?
				<a href="/login">Login</a>
			</p>
			<p>
				Need an Account?
				<a href="/register">Sign Up</a>
			</p>
		</div>
		<% } %>
		<div class="col-lg-6 col-md-12 justify-content-md-center">
			<p class="mt-3">Recieve our communication via</p>
			<div class="row g-0">
				<div class="col-2 me-3">
					<div class="form-check mb-3">
						<input
							name="user[preferredContact]"
							class="form-check-input"
							type="checkbox"
							value="email"
							id="emailCheck"
							checked
						/>
						<label class="form-check-label" for="emailCheck"> Email </label>
					</div>
				</div>
				<div class="col-2">
					<div class="form-check">
						<input
							name="user[preferredContact]"
							class="form-check-input"
							type="checkbox"
							value="sms"
							id="smsCheck"
						/>
						<label class="form-check-label" for="smsCheck"> SMS/Text </label>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div
		class="
			col-md-6 col-12
			offset-md-3
			card
			border-0
			shadow
			p-3
			mb-5
			bg-body
			rounded
		"
	>
		<div class="text-center">
			<h3>Order Total</h3>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-12">
					<p class="mb-0">
						subtotal
						<span class="float-end"
							>&dollar;<%= cart.subtotal.toFixed(2) %></span
						>
					</p>
				</div>
				<div class="col-12 border-bottom border-3">
					<p>
						tax
						<span class="float-end">&dollar;<%= cart.tax.toFixed(2) %></span>
					</p>
				</div>
				<div class="col-12">
					<p>
						Total
						<span class="float-end">&dollar;<%= cart.totalPrice %></span>
					</p>
				</div>
			</div>
		</div>
	</div>

	<p class="d-inline me-3 mb-3">
		* Required Field
		<span class="float-end">
			<button class="btn btn-md btn-success">Checkout</button>
		</span>
	</p>
</form>
