<% layout('layouts/orderTemplate') %>
<form class="mb-3" action="/cart/add/products" method="POST">
	<div class="row g-2">
		<h1 class="mb-3">Menu</h1>
		<% if(products.length === 0){%>
		<div class="col-6 offset-3">
			<div class="card">
				<div class="card-body d-flex justify-content-end">
					<p class="card-text me-auto">No items available for today.</p>
					<a class="btn btn-danger" href="/order/date">Try another day</a>
				</div>
			</div>
			<% } else{%> <% for(let product of products){ %>
			<input
				type="hidden"
				name="<%= product._id %>[_id]"
				value="<%= product._id%>"
			/>
			<div class="col-md-4 col-sm-12">
				<div class="card mb-3">
					<img src="<%= product.image.url %>" class="card-img-top" />
					<div class="card-body">
						<h5 class="card-title"><%=product.name %></h5>
						<p class="card-text text-muted">
							<%= product.ingredients.substring(0,50).trim()+"..."%>
							<a href="">more Info</a>
						</p>
						<label class="mb-2" for="">How would you like it?</label>
						<div class="row g-1 mb-3">
							<div class="col-6">
								<div class="form-check">
									<input
										class="form-check-input"
										type="radio"
										name="<%= product._id %>[diet]"
										id="default<%= product._id %>"
										value="classic"
										checked
									/>
									<label
										class="form-check-label"
										for="default<%= product._id %>"
									>
										Classic
									</label>
								</div>
							</div>
							<div class="col-6">
								<div class="form-check">
									<input
										class="form-check-input"
										type="radio"
										name="<%= product._id %>[diet]"
										id="vegan<%= product._id %>"
										value="vegan"
									/>
									<label class="form-check-label" for="vegan<%= product._id %>">
										Vegan
									</label>
								</div>
							</div>
							<div class="col-6">
								<div class="form-check">
									<input
										class="form-check-input"
										type="radio"
										name="<%= product._id %>[diet]"
										id="pescetarian<%= product._id %>"
										value="pescetarian"
									/>
									<label
										class="form-check-label"
										for="pescetarian<%= product._id %>"
									>
										Pescetarian
									</label>
								</div>
							</div>
							<div class="col-6">
								<div class="form-check">
									<input
										class="form-check-input"
										type="radio"
										name="<%= product._id %>[diet]"
										id="vegitarian<%= product._id %>"
										value="vegitarian"
									/>
									<label
										class="form-check-label"
										for="vegitarian<%= product._id %>"
									>
										Vegitarian
									</label>
								</div>
							</div>
						</div>
						<div>
							<label class="form-label" for="qty"> Select qty&colon;</label>
							<select name="<%= product._id %>[qty]" id="qty">
								<%for(let i = 1; i<= 5; i++){ %>
								<option value="<%= i %>"><%= i %></option>
								<%} %>
							</select>
						</div>
						<div>
							<label for="instruction<%= product._id %>">comments</label>
							<textarea
								class="form-control mb-3"
								name="<%= product._id %>[specialInstructions]"
								id="instruction<%= product._id %>"
								cols="40"
								rows="3"
							></textarea>
						</div>
					</div>
				</div>
			</div>
			<% } %>
			<div class="d-flex justify-content-end">
				<button class="btn btn-success btn-md me-3">Add to Cart</button>
				<a class="btn btn-primary btn-md" href="/order/checkout">Continue</a>
			</div>
			<% } %>
		</div>
	</div>
</form>
