<% layout('layouts/admintemplate') %>

<a class="btn btn-danger btn-lg" href="/order/index?status=pending">Back</a>
<div>
	<h1 class="d-inline">order&num; <%= order._id %></h1>
	<p class="fs-2 fw-bold">Status&colon; <%= order.status %></p>
</div>
<div class="row g-3">
	<div class="col-md-6 col-sm-12">
		<div id="map" style="height: 300px"></div>
	</div>
	<div class="col-md-6 col-sm-12">
		<div class="card mb-3">
			<div class="card-body">
				<p class="text-end m-0"><%= order.createdAt.format("mmm d, yyyy") %></p>
				<h5 class="card-title">
					<%= order.contact.user ? order.contact.user.firstname :
					order.contact.firstname %> <%= order.contact.user ?
					order.contact.user.lastname : order.contact.lastname %>
				</h5>
				<p class="mb-0">
					Delivery date: <%= order.deliveryDate.format("dddd, mmmm d, yyyy") %>
				</p>
				<p>
					Address: <%= order.location.street %> <%= order.location.unit?
					order.location.unit:''%>&comma; <%= order.location.city %>&comma; <%=
					order.location.state %>&comma; <%= order.location.zipcode %>
				</p>
				<address>
					Contact via&colon; <% for(let el of order.contact.preferredContact)
					{%><%= el%> <% } %> <br />
					Email&colon;
					<a
						href="mailto:<%= order.contact.user ? order.contact.user.email :
                    order.contact.email %>"
						><%= order.contact.user ? order.contact.user.email :
						order.contact.email %></a
					>
					<br />
					<%if(order.contact.phoneNumber){%> Phone&colon;
					<a href="tel:<%= order.contact.phoneNumber %>"
						><%= order.contact.phoneNumber %></a
					>
					<%}%>
				</address>
			</div>
		</div>
	</div>
	<div class="col-12">
		<%for(let item of order.items){ %>
		<div class="card mb-3">
			<div class="card-body">
				<h5 class="card-title"><%= item.product.name %> x<%=item.qty%></h5>
				<p class="card-text text-muted"><%= item.diet %></p>
				<p>Comment&colon; <%= item.specialInstructions %></p>
			</div>
		</div>
		<% } %>
		<form
			class="text-end mb-3"
			action="/order/<%= order._id %>/status"
			method="POST"
		>
			<button class="btn btn-danger btn-lg" name="action" value="decline">
				Decline
			</button>
			<button class="btn btn-primary btn-lg me-1 <%= order.status === "approved"
			? 'd-none':'' %>" name="action" value="approved">Approve <button
			class="btn btn-success btn-lg <%= order.status === "pending" ? 'd-none':''
			%> " name="action" value="completed">Complete
		</form>
	</div>
</div>

<script>
	const mapToken = "<%-process.env.MAPBOX_TOKEN%>";
	const orderGeo = <%-JSON.stringify(order.geometry)%>
</script>
<script src="/javascripts/showMap.js"></script>
