<% layout('layouts/admintemplate') %>
<div class="col">
	<div class="row g-3">
		<% for(let product of products){ %>
		<div class="col-sm-12 col-md-3">
			<div class="card mb-3 border-0">
				<img src="<%= product.image %>" class="card-img-top" alt="..." />
				<div class="card-body">
					<h5 class="card-title"><%= product.name %></h5>
					<p class="card-text">
						<%= product.ingredients%><br /><span class="text-dark fw-bold"
							>Unit price:</span
						>
						$<%= product.price %>
					</p>
					<a href="/product/<%= product.id %>/view" class="btn btn-primary"
						>More Info</a
					>
				</div>
			</div>
		</div>
		<% } %>
	</div>
</div>
